.image__col{

  .card{
    width: 250px;
    margin: 0 auto;

   

    .card-img-top{
        @include breakPoints(1400px, 992px){
            height: 250px;
          
        }

    }

    .card-body{
      h6{
        color: $kelp;
      }
    }
  }
}

 
.btn{
  font-family: $lato;
  font-weight: 700;
  background-color: $killarney !important;
  color: $alabaster;


  &:hover{
    background-color: darken($sushi, 5%) !important;
    color: $alabaster;

  }

}

.myImg {
     
  cursor: pointer;
  transition: 0.3s;

  @include breakPoints(992px){
    height: 310px;
  }
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

  // @include breakPoints(1400px, 992px){
  //     display: none !important;
  // }
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 400px;
}

/* Caption of Modal Image */
// .caption {
//   margin: auto;
//   display: block;
//   width: 80%;
//   max-width: 700px;
//   text-align: center;
//   color: #ccc;
//   padding: 10px 0;
//   height: 150px;
// }

/* Add Animation */
.modal-content, .caption {  
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.food__details{
  text-align: left !important;
}
   
.food__header, .milktea__header, .hot-drinks__header{
  color: $greenleaf;
}
