.image__col{

  .card{
    // width: 250px;
    max-width: 300px ;
    margin: 0 auto;

    .card-img-top{
        @include breakPoints(1400px, 992px){
            height: 250px;
          
        }

    }

    .card-body{
      h6,h5{
        color: $kelp;
      }

    }
  }
}

.inner{
  height: 310px;
  // @include breakPoints(992px){
  //     height: 310px;
  //   }
}
.inner:hover{
  transform: scale(1.05);
  transition: all 1.5s ease;
  cursor: pointer;
  
 
}

.food__details{
  text-align: left !important;
}
   
.food__header, .milktea__header, .hot-drinks__header{
  color: $greenleaf;
}
