
::-webkit-scrollbar {
  width: 10px;
} 

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: $lemongrass; 
}

main{
    background: lighten($whitesmoke, 1%);
    padding-top: 2rem;
    img{
        width: 100%;
    }
}

.index__container{
  margin-top: 10rem !important;
}
.main__container{
  
  h1{
    font-family: $rubik;
    font-size: 60px;
    color: $kelp;

    @include breakPoints(992px){
        font-size: 45px;
    }
  }

}

.hero{
    height: 75vh;
    padding: 0 !important; 

    @include breakPoints(992px){
        height: 20vh;
    }

    img{
        width: 100%;
        height: 400px;
    
        @include breakPoints(992px){
            height: auto;
        }
       
    }

    
}

.main__container{

    background-color: $whitesmoke;
    padding: 1rem 0;

    @include breakPoints(992px){
        padding: 2rem 0;
    }
}

.hamburger{
  h5{
    font-weight: 700;
  }
}
//slide show container
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;

    img{
        height: 400px;

        @include breakPoints(992px){
            height: auto;
        }
    }
  }
  
 
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 4s;
    animation-name: fade;
    animation-duration: 4s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .6} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .6} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  // @media only screen and (max-width: 300px) {
  //   .text {font-size: 11px}
  // }

 