$scorpion : #5e5d5d;

//green color palette
$greenhouse: #26430B;
$fernfrond: #4E611B ;
$greenleaf:#587708;
$citron: #96af1a;
$killarney: #40704a;
$sushi: #6CA431;

//white to gray color palette
$whitesmoke: whitesmoke;
$mercury: #E1E1E1;
$alabaster: #f8f8f8;
$venus: #cfcfcf;
$silver: #c0bfbf;
$lemongrass: #92958d;
$kelp: #3c3d38;